* {

}

body{
    padding: 0;
    margin: 0;
    
}

.header-container {
    max-width: 1800px;
    font-family: 'Nunito', sans-serif;

}

.navigation {
    background-color: #0B1E38;
}

.navigation ul > li{
    position: relative;
    
}

.navig-item:hover{
    background-color: #172d4b;
}

.dropdownMenu{

}

.dropdownMenu ul{
    width: 150%;
    height: auto;
    background-color: #173679;
    position: absolute;
    list-style: none;
    margin-top: 0%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 7% 0 7% 0;
}

.dropdownMenu li {
    padding: 3% 0 3% 0;

}
.dropdownMenu li > a {
    color: white;
    text-decoration: none;
    margin: 2% 0 0 15%;
}

.dropdownMenu li:hover {
    background-color: #172d4b;
    border-left: 4px solid #7FC5DC;
}

.dropdownMenu li:hover a {
    margin-left: calc(15% - 3.5px);
    color: #abe9fd;

}
/*İndex styles*/

.post{
    display: flex;
    width: 70vw;
    margin-bottom: 2%;
    line-height: 20px;
    font-family: 'Inter Bold', sans-serif;

}


.post p {
    color: #757575;
}
.post h3 {
    color: #292929;
    font-size: 1.5rem;
    cursor: pointer;
}
.icerik {
    width: 55vw;
}
.icerik>p {
    cursor: pointer;
}
.postImg{
    width: 15vw;
    max-width: 15vw;
}
.postImg img{
    width: 100%;
    cursor:pointer;
}

.postDetails {
    display: flex;
    margin-top: -2%;
    
}

.postDetails p {
    padding-right: 1%;
    font-size: 0.9rem;

}

.postDetails strong {
    padding-right: 1%;

}

.postDetails a {
    color: #757575;
    text-decoration: none;
    background-color: #f2f2f2;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: 0.5s;


}

.postDetails a:hover {
    color: #757575;
    background-color: #e7e5e5;
}

/* Article styles */
.article {
    margin: 0 auto;
    width: 80%;
    color: #292929;

}

.article h1 {
    font-family: 'Inter Bold', sans-serif;
    font-size: 2.3rem;
}

.article p {
    font-family: 'Martel Sans', sans-serif;
}

.articleDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 3%;
}

.articleDetails p {
    padding-right: 1%;
    font-size: 0.9rem;
    color: #757575;

}

.articleDetails strong {
    padding-right: 1%;
    align-self:baseline;
}

.articleDetails a {
    color: #757575;
    text-decoration: none;
    background-color: #f2f2f2;
    padding-left: 0.9vw;
    padding-right: 0.9vw;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: 0.5s;
}

.articleDetails a:hover {
    color: #757575;
    background-color: #e7e5e5;
}
/*

.nav{
    margin: 0 auto;
    width: 85%;
    border-color: rgb(30, 34, 80);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    background-color: rgba(75, 61, 35, 0.096);
    
}
.nav-con li{
    display: inline;
    padding-left: 7%;

   
}
.nav-con a{
    font-size: 18pt;
    text-decoration: none;
    font-family: "bahnschrift";
    
}
.nav-con a:link{
    color: rgb( 12, 15, 58);
}
.nav-con a:visited{
    color: rgb(12, 15, 58);
}
.nav-con a:hover{
    color: rgb(77, 67, 54);
}

.nav-con ul{
    padding: 0.1%;
    text-align: center;


}



.nav{
    padding: 5%;

}

.banner{
    
    vertical-align: bottom;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 0.07%;
}
.blog-title{
    text-align: center;
    font-size: 13pt;
    font-family: "bahnschrift";
    
}
.blog-title a{
    text-decoration: none;
}
.blog-title a:link{
    color: rgb( 12, 15, 58);

}
.blog-title a:visited{
    color: rgb( 12, 15, 58);

}
#blog-body{
    text-indent: 25px;
    font-size: 10pt;
    font-family: "bahnschrift";
    padding: 3%;
}
.b{
    float: left;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 15%;
    border-color: rgba(75, 61, 35, 0.05);
    width: 350px;
    height: 350px;
    margin: 2%;
    word-wrap: break-word;
    padding-top: 0.75%;
    background-color: rgba(75, 61, 35, 0.05);
}
.b ul{
    list-style: none;

}
.container{
    width: 88%
    
    
}
.pagination{
    
    list-style: none;
    width: 88%;
    float: left;
    text-align: center;
    font-size: 15pt;
    
    
}
.pagination li{
    display: inline-block;
    padding: 8px 16px;


}
.pagination a{
    color: black;
    border-radius: 5px;
    
    text-decoration: none;
}

.pagination a:hover{
    color: rgb(114, 86, 50);
}
.pagination a:active{
    background-color: rgba(75, 61, 35, 0.05);
    padding: 8px 16px;

}
*/